@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

body, p, h1 > span, h2 > span, h3 > span, h4 > span, h5 > span, h6 > span {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
} 

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
}

body {
	font-size: 16px;
	line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
   color: #ed1c70;
}


.wrapper {
	position: relative;
    min-height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url("/images/professionalWhiteBackground.png");
    background-attachment: fixed;
}

.site-image {
    background: url(/images/New G2W Logo mini.png) center center no-repeat;
    background-size: contain;
    display: block;
    }